@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.wrapper{
    filter: blur(1px);
    transition: 1s;
}

@media (max-width:1250px){
    .login{
        position: fixed;
        top: 100px;
        width: 300px;
        margin: 0px 28%;
        padding: 25px;
        padding-top: 10px;
        background-color: azure;
        border-radius: 5px;
    }
}

.login{
    position: fixed;
    top: 100px;
    width: 300px;
    margin: 0px 40%;
    padding: 25px;
    padding-top: 10px;
    background-color: azure;
    border-radius: 5px;
}

input{
    margin-bottom: 10px;
    margin-top: 5px;
    width: 210px;
    display: block;
}

#submit{
    margin: 17px 32% 0px;
    width: 95px;
}

#redirect{
    text-decoration: underline;
}

#close{
    position: absolute;
    padding: 5px;
    border-radius: 4px;
    top: 10px;
    right: 10px;
    width: 10px;
}

#close:hover{
    cursor: pointer;
    background-color: rgb(175, 175, 175);
}